@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Questrial&display=swap');

:root {
    --az1: #002c53;
    --az2: #006bc8;
    --br1: #cfd1d2;
    --br2: #f5f5f5;
    --br3: #fafafa;
}

*{
    padding: 0px;
    margin: 0px;
    color: var(--az1);
    font-family: "Questrial", sans-serif;
}


body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 10vh;
    background-color: #FFFFFF;
}

header > h1{
    font-size: 2em;
    font-weight: bolder;
    color: var(--az1);
    margin-left: 20px;
}

header div{
    display: flex;
    gap: 10px;
    align-items: center;
}

header div img{
    height: 6vh;
    border-radius: 100%;
    margin-right: 20px;
}

header div h1{
    font-size: 1.2em;
    font-weight: normal;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75vw;
    margin: 1vh 1vw;
    height: 88vh;
}

aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 23vw;
    height: 90vh;
    background-color: var(--br2);
}

aside p{
    font-size: 1.3s  em;
    text-align: center;
}

aside a{
    cursor: pointer;
    color: var(--az2);
    background-color: white;
    border: 3px solid var(--az2);
    border-radius: 20px;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 15px;
    transition: transform 0.2s, background-color 0.15s ease-in-out;
}

aside a:hover{
    transform: scale(1.1);
    background-color: var(--az1);
    color: #fafafa;
}

@media screen and (max-width: 800px) {
    header > h1{
        font-size: 1.8em;
    }
    
    header div h1{
        font-size: 1.1em;
    }

    aside p{
        font-size: 0.7em;
    }
}

@media screen and (max-width: 600px) {
    header{
        height: 8vh;
    }

    header > h1{
        font-size: 1.7em;
    }
    
    header div h1{
        font-size: 1em;
    }

    aside{
        height: 20vh;
        width: 100vw;
    }

    aside p{
        font-size: 0.9em;
    }

    main{
        height: 72vh;
        width: 98vw;
    }
}